<p id="notice"><%= notice %></p>

<p>
  <strong>Usercreatorid:</strong>
  <%= @user_profile.UserCreatorId %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @user_profile.profile %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
